@font-face {
  font-family: 'Montserrat-Bold';
  src: url('../fonts/Montserrat/Montserrat-Bold.ttf');
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../fonts/Montserrat/Montserrat-Regular.ttf');
}
@font-face {
  font-family: 'Open-Sans';
  src: url('../fonts/Open_Sans/OpenSans-Regular.eot');
  src: url('../fonts/Open_Sans/OpenSans-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Open_Sans/OpenSans-Regular.woff2') format('woff2'), url('../fonts/Open_Sans/OpenSans-Regular.woff') format('woff'), url('../fonts/Open_Sans/OpenSans-Regular.svg') format('svg'), url('../fonts/Open_Sans/OpenSans-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Pacifico';
  src: url('../fonts/Pacifico/Pacifico-Regular.ttf');
}
.banner .title {
  color: #616161;
}
.banner .shop-now {
  padding: 13px 17px;
  display: inline-block;
  color: #fff;
  box-sizing: border-box;
  background-color: #8262b5;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
}
.banner-left {
  width: 66.6667%;
  padding: 0 15px;
  margin: 15px 0;
  box-sizing: border-box;
  position: relative;
  padding-top: 15px;
}
.banner-left img {
  display: block;
  width: 100%;
  height: 100%;
}
.banner-left .banner-info {
  position: absolute;
  right: 14%;
  bottom: 28.6%;
  text-align: right;
}
.banner-left .banner-info .title {
  font-family: 'Pacifico';
  font-weight: 400;
  font-size: 30px;
  color: #000;
  margin-bottom: 5px;
}
.banner-left .banner-info .button {
  padding-left: 212px;
  padding-top: 4px;
}
.banner-right {
  width: 33.3333%;
  padding: 0 15px;
  margin: 15px 0;
  box-sizing: border-box;
}
.banner-right .title {
  font-size: 16px;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.banner-right .description {
  font-family: 'Montserrat-Bold';
  font-size: 20px;
  text-transform: uppercase;
  color: #000;
  font-weight: 700;
  margin-bottom: 15px;
}
.banner-right-content .banner-right-item {
  position: relative;
  padding: 15px 0;
}
.banner-right .banner-content {
  position: absolute;
}
.banner-right .content-top {
  top: 43%;
  left: 57px;
}
.banner-right .content-bottom {
  display: block;
  top: 37.2%;
  left: 38px;
}
.list-header {
  font-family: 'Montserrat-Bold';
  text-transform: uppercase;
  padding-top: 46px;
  height: 112px;
}
.list-header .title {
  color: #8262b5;
  letter-spacing: 6px;
  font-weight: 700;
  font-size: 12px;
}
.list-header .featured-item {
  padding-top: 11px;
  padding-bottom: 24px;
  letter-spacing: 2px;
  font-size: 24px;
  font-weight: 700;
}
.list-header .line {
  height: 1px;
  width: 50px;
  background-color: #8262b5;
  left: 50%;
}
.list-bottom .list-item {
  width: 25%;
  margin: 15px 0;
  box-sizing: border-box;
  padding: 0 15px;
}
.list-bottom .list-item img {
  display: block;
  width: 100%;
  height: 100%;
}
.list-bottom .list-item-inner .inner-top {
  position: relative;
}
.list-bottom .list-item-inner .inner-top .btn-cart {
  position: absolute;
  left: 5px;
  bottom: 5px;
}
.list-bottom .list-item-inner .inner-top .btn-cart a {
  color: #424242;
  font-size: 12px;
  font-weight: 400;
  padding: 13px 16px 12px 18px;
  background: #fff;
  text-transform: uppercase;
  display: block;
}
.list-bottom .list-item-inner .inner-top .btn-cart a:hover {
  color: #8262b5;
}
.list-bottom .list-item-inner .inner-bottom {
  padding-bottom: 12px;
}
.list-bottom .list-item-inner .inner-bottom :hover {
  cursor: pointer;
}
.list-bottom .list-item-inner .inner-bottom .title {
  padding-top: 14px;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
}
.list-bottom .list-item-inner .inner-bottom .vote {
  color: #f8ba04;
}
.list-bottom .list-item-inner .inner-bottom .vote i {
  font-size: 12px;
}
.list-bottom .list-item-inner .inner-bottom .cost {
  padding-top: 7px;
  display: flex;
  font-family: 'Open-Sans';
}
.list-bottom .list-item-inner .inner-bottom .cost-root {
  color: #9999;
  text-decoration: line-through;
}
.list-bottom .list-item-inner .inner-bottom .cost-new {
  color: #8262b5;
  padding-left: 4px;
}
.slider {
  background-image: url(../img/bg-silder.jpg);
  padding: 78px 0 96px 0;
  margin-top: 46px;
}
.slider .title {
  text-align: center;
  font-family: "Montserrat-Bold";
}
.slider .title .mr {
  margin-left: 48.8%;
}
.slider-content {
  position: relative;
  align-items: center;
}
.slider-content img {
  display: block;
  width: 100%;
  height: 100%;
}
.slider-content .slider-items {
  display: flex;
  font-style: 16px;
  padding-top: 35px;
  margin: 0 -15px;
}
.slider-content .slider-items .slider-item {
  width: 33.3333%;
  padding: 0 15px;
  margin: 15px 0;
  box-sizing: border-box;
}
.slider-content .slider-items .slider-item img {
  display: block;
  width: 100%;
  height: 100%;
}
.slider-content .slider-items .slider-item-top {
  position: relative;
}
.slider-content .slider-items .slider-item-top .date {
  position: absolute;
  top: 22px;
  left: 20px;
  width: 60px;
  height: 60px;
  background-color: #a1d1dd;
}
.slider-content .slider-items .slider-item-top .date-info {
  margin: 5px 5px 5px 5px;
  height: 49px;
  border: 1px solid #fff;
  font-family: 'Montserrat-Bold';
  color: #fff;
  text-align: center;
}
.slider-content .slider-items .slider-item-top .date-info .month {
  padding-top: 6px;
}
.slider-content .slider-items .slider-item-bottom {
  background-color: #fff;
}
.slider-content .slider-items .slider-item-bottom .describe {
  padding: 17px 18px 3px 18px;
  border-bottom: 1px solid #ededed;
}
.slider-content .slider-items .slider-item-bottom .describe a {
  font-weight: 400;
  line-height: 20px;
  color: #000;
}
.slider-content .slider-items .slider-item-bottom .describe a:hover {
  color: #8262b5;
}
.slider-content .slider-items .slider-item-bottom .describe p {
  font-family: 'Open-sans';
  color: #424242;
  font-size: 14px;
  line-height: 22px;
}
.slider-content .slider-items .slider-item-bottom .describe p:hover {
  cursor: text;
}
.slider-content .slider-items .slider-item-bottom .feedback {
  display: flex;
  padding: 19px 0 0 19px;
  height: 38px;
  color: #c0c0c0;
}
.slider-content .slider-items .slider-item-bottom .feedback i:hover {
  cursor: pointer;
}
.slider-content .slider-items .slider-item-bottom .feedback .comment {
  padding-right: 32px;
  font-size: 14px;
}
.slider-content .slider-items .slider-item-bottom .feedback .like {
  padding-right: 32px;
}
.slider-content .slider-items .slider-item-bottom .feedback span {
  padding-left: 5px;
  font-size: 14px;
}
.slider .slick-dots {
  bottom: -30px;
}
.slider .slick-dots li button:before {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  background-color: #8262b5;
  border-radius: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.slider .slick-dots li.slick-active button:before {
  content: '';
  display: block;
  width: 13px;
  height: 13px;
  background-color: #8262b5;
  border-radius: 50%;
  opacity: 1;
}
#toggle-menu {
  position: fixed;
  top: -120px;
  right: 0;
  bottom: -120px;
  left: 0;
  transform: scaleX(0);
  z-index: 100;
}
#toggle-menu a {
  color: #888888;
  margin-bottom: 20px;
  letter-spacing: 0.3px;
}
#toggle-menu .menu {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 30%;
  background-color: #fff;
}
#toggle-menu .menu nav ul li {
  border-bottom: 1px solid #828282;
  height: 70px;
}
#toggle-menu .scrim {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 1;
  background: rgba(0, 0, 0, 0.5);
}
#toggle-menu.visible {
  transform: scaleX(1);
}
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat-Regular';
  font-style: 14px;
}
a {
  color: #222222;
  text-decoration: #222222;
}
img {
  display: block;
  width: 100%;
}
img :hover {
  cursor: pointer;
}
img:hover {
  cursor: pointer;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}
.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: auto;
  box-sizing: border-box;
}
.container-fluid {
  max-width: 1920px;
  padding: 0 30px;
  align-items: center;
  box-sizing: border-box;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.header {
  height: 46px;
  color: #525252;
  background-color: #222222;
  box-sizing: border-box;
}
.header-inner {
  display: flex;
  justify-content: space-between;
  font-family: 'Open-Sans';
  font-size: 14px;
  padding-top: 14px;
}
.header-inner .web-info {
  display: flex;
}
.header-inner .web-info-button {
  display: flex;
  margin-left: 30px;
}
.header-inner .web-info-button i {
  margin-right: 6px;
}
.menu-bar navbar {
  padding: 20px 30px;
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu-bar navbar .logo {
  width: 14.9%;
}
.menu-bar navbar .logo a {
  display: flex;
}
.menu-bar navbar .logo a img {
  width: 200px;
}
.menu-bar navbar .navbar-center {
  display: flex;
  justify-content: center;
  width: 70%;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  font-family: 'Montserrat-Bold';
}
.menu-bar navbar .navbar-center nav .navbar-menu {
  display: flex;
}
.menu-bar navbar .navbar-center nav .navbar-menu .navigation {
  display: none;
}
.menu-bar navbar .navbar-center nav .navbar-menu li {
  list-style: none;
  padding: 0 27px 0 28px;
}
.menu-bar navbar .navbar-center nav .navbar-menu li a {
  text-decoration: none;
  color: #000;
}
.menu-bar navbar .navbar-center nav .navbar-menu li a:hover {
  color: #8262b5;
}
.menu-bar navbar .navbar-center nav .navbar-menu li button {
  border: none;
  background: none;
  cursor: pointer;
}
.menu-bar navbar .navbar-center nav .navbar-menu li:last-child {
  margin-right: 0;
}
.menu-bar navbar .navbar-right {
  display: flex;
  width: 15.1%;
  justify-content: flex-end;
}
.menu-bar navbar .navbar-right .right-item i {
  font-size: 30px;
  padding-left: 25px;
  padding-top: 2px;
  color: #000;
}
.menu-bar navbar .navbar-right .right-item button {
  border: none;
  background: none;
  cursor: pointer;
}
.footer {
  background-color: #222222;
  color: #888888;
  font-family: "Open-Sans";
}
.footer a {
  color: #888888;
  margin-bottom: 20px;
  letter-spacing: 0.3px;
}
.footer-top {
  border-bottom: 1px solid #828282;
  padding-top: 58px;
  padding-bottom: 34px;
  font-size: 14px;
}
.footer-top .footer-items {
  padding: 0 15px;
  box-sizing: border-box;
}
.footer-top .footer-items .title {
  border-bottom: 1px solid #828282;
  color: #f7f7f7;
  height: 47px;
  font-family: 'Montserrat-Regular';
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 16px;
}
.footer-top .footer-items .title:hover {
  cursor: auto;
}
.footer-top .left {
  width: calc(100% / 12 * 3);
}
.footer-top .left p {
  line-height: 22px;
  letter-spacing: 0.3px;
  padding-top: 8px;
}
.footer-top .left .contact {
  padding-top: 30px;
}
.footer-top .left .contact a {
  padding-right: 30px;
}
.footer-top .center {
  width: calc(100% / 12 * 6);
  padding-left: 9.6%;
}
.footer-top .center .title {
  width: 360px;
}
.footer-top .center .nav-item {
  display: flex;
  padding-top: 25px;
}
.footer-top .center .nav-item .pb-11 {
  padding-bottom: 11px;
}
.footer-top .center .nav-item .pb-11 a:hover {
  color: #fff;
  text-decoration: underline;
}
.footer-top .center .nav-item-right {
  padding-left: 123px;
}
.footer-top .right {
  width: calc(100% / 12 * 3);
}
.footer-top .right .contact {
  padding-top: 19px;
  line-height: 33px;
}
.footer-top .right .contact i {
  padding-right: 14px;
  padding-top: 10px;
}
.footer-top .right .contact i:hover {
  color: #fff;
  text-decoration: none;
}
.footer-top .right .contact a:hover {
  color: #fff;
  text-decoration: underline;
}
.footer-bottom {
  min-height: 70px;
}
.footer-bottom-inner {
  display: flex;
  font-size: 14px;
  line-height: 25px;
  justify-content: space-between;
  letter-spacing: 0.2px;
  padding-top: 22px;
}
.footer-bottom-inner .footer-bottom-item-left span i {
  color: #ff4628;
}
.footer-bottom-inner .footer-bottom-item-left span span {
  color: #c8c8c8;
}
.footer-bottom-inner .footer-bottom-item-right i {
  font-size: 20px;
  padding-left: 5px;
}
@media all and (min-width: 1170px) {
  .navbar-right .menu-toggle {
    display: none;
  }
  .navbar-right .search-btn {
    display: none;
  }
}
@media all and (max-width: 1170px) {
  .menu-bar navbar .navbar-center {
    display: none;
  }
  .slider .title .mr {
    margin-left: 47.9%;
  }
}
@media all and (max-width: 1024px) {
  .menu-bar-inner-left .inner-center {
    padding-left: 70px;
  }
  .menu-bar-inner-left .inner-center nav .navbar .nav-item {
    margin-right: 10px;
  }
  .banner button {
    font-style: 10px;
  }
  .banner-left .banner-info {
    bottom: 25%;
  }
  .banner-left .banner-info .title {
    font-size: 26px;
  }
  .banner-left .banner-info .button {
    padding-left: 180px;
  }
  .slider .title .mr {
    margin-left: 47.5%;
  }
  .footer-top-inner .footer-item-center {
    padding-left: 7%;
  }
}
@media all and (max-width: 768px) {
  .banner-left {
    width: 100%;
    padding: 0 15px;
    margin: 15px 0;
    box-sizing: border-box;
  }
  .banner-right {
    width: 100%;
  }
  .banner-right-content {
    display: flex;
    flex-direction: row;
    margin: 0 -15px;
  }
  .banner-right-content .banner-right-item {
    width: 50%;
    padding: 0 15px;
  }
  .banner-right-content .banner-right-item-inner {
    overflow: hidden;
    height: 196.66px;
  }
  .banner-right-content .banner-right-item-inner .title {
    font-size: 14px;
  }
  .banner-right-content .banner-right-item-inner span {
    font-size: 16px;
  }
  .banner-right-content .banner-right-item-inner .content-bottom {
    top: 20%;
  }
  .list-bottom .list-item {
    width: 50%;
    padding: 0 15px;
    margin: 15px 0;
    box-sizing: border-box;
  }
  .slider .title .mr {
    margin-left: 46.5%;
  }
  .footer-top .left {
    width: 100%;
    margin-bottom: 50px;
  }
  .footer-top .left .contact {
    padding-top: 20px;
  }
  .footer-top .center {
    width: 50%;
    padding: 0 15px;
  }
  .footer-top .right {
    width: 50%;
  }
}
@media all and (max-width: 576px) {
  .header-inner {
    font-size: 12px;
  }
  .header-inner .web-info .title {
    display: none;
  }
  .banner-left .banner-inner .banner-info .button {
    padding-left: 100px;
  }
  .banner-right-content .banner-right-item-inner {
    height: 143.33px;
  }
  .slider .title .mr {
    margin-left: 45.5%;
  }
  .footer-top .left {
    margin-bottom: 50px;
  }
  .footer-top .left .contact {
    padding-top: 20px;
  }
  .footer-top .center {
    width: 50%;
    padding: 0 15px;
  }
  .footer-top .center .title {
    width: 260px;
  }
  .footer-top .center .nav-item-right {
    padding-left: 50px;
  }
  .footer-top .right {
    width: 50%;
  }
  .footer-bottom-inner {
    font-size: 12px;
  }
}
@media all and (max-width: 420px) {
  .header .title {
    font-size: 10px;
  }
  .header-inner .web-info-button {
    margin-left: 15px;
  }
  .menu-bar navbar .navbar-right .right-item i {
    padding-left: 8px;
  }
  .footer-top .left {
    margin-bottom: 50px;
  }
  .footer-top .left .contact {
    padding-top: 20px;
  }
  .footer-top .center {
    width: 100%;
    padding: 0 15px;
  }
  .footer-top .center .title {
    width: 390px;
  }
  .footer-top .center .nav-item-right {
    padding-left: 120px;
  }
  .footer-top .right {
    width: 100%;
    padding-top: 50px;
  }
  .footer-bottom-inner {
    font-size: 8px;
  }
}
/*# sourceMappingURL=style.css.map */