#toggle-menu {
    position:fixed;
    background-color: @main-color;
    width: 30%;
    visibility: hidden;
    z-index: 100;
    a {
        color: #888888;
        margin-bottom: 20px;
        letter-spacing: 0.3px;
    }

    .menu {
        nav {
            ul {
                li {
                    border-bottom: 1px solid #828282;
                    height: 70px;
                }
            }
        }
    }
}