#toggle-menu {
    position: fixed;
    top: 0px;
    right: 0;
    bottom: 0px;
    left: 0;
    z-index:100;
    visibility: hidden;

    .menu {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 240px;
        transform: translateX(-100%);
        transition-duration: 1000ms;
        background-color: @main-color;
        nav {
            ul {
                li {
                    border-bottom: 1px solid #828282;
                    padding: 20px 30px 20px 30px;
                    a {
                        color: #888888;
                        letter-spacing: 0.3px;
                    }
                }
            }
        }
    }
    .scrim {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transform: translateX(0);
        background: rgba(0, 0, 0, 0.5);
    }
}

#toggle-menu.visible {
    .menu {
        visibility: visible;
        transform: translateX(0);
        transition-duration: 1000ms;
    }
    .scrim {
        visibility: visible;
    }
}