#toggle-menu {
    position: fixed;
    top: 0px;
    right: 0;
    bottom: 0px;
    left: 0;
    z-index:100;
    visibility: hidden;
    transform: translateX(-100%, 0, 0);

    .menu {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 240px;
        background-color: @main-color;
        nav {
            ul {
                li {
                    border-bottom: 1px solid #828282;
                    padding: 20px 30px 20px 30px;
                    a {
                        color: #888888;
                        margin-bottom: 20px;
                        letter-spacing: 0.3px;
                    }
                }
            }
        }
    }
    .scrim {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.5);
    }
}

#toggle-menu.visible {
    visibility: visible;
    transform: translateX(0, 0, 0);
}